$majorelle-blue: #6356e5
$powder-blue: #AEC5EB
$lemon-chiffon: #F4F1BB
$red-crayola: #ED254E
$jet: #3C3744

@font-face
  font-family: "Carollo Playscript"
  src: url("./D/carollo-playscript/CarolloPlayscriptRegular.otf")
*
  margin: 0
  font-family: "Carollo Playscript", sans-serif

header
  padding: 0 85px
  height: 160px
  display: flex
  align-items: center
  //background-color: #AEC5EB
  background-color: black
  color: white
  nav
    display: flex
    align-self: flex-end
    justify-content: space-between
    width: 100%
    #links
      display: flex
      align-self: flex-end
      .link-item
        text-align: center
        display: block
        width: 180px
        height: 37px
        background-color: white
        margin-right: 43px
        border-radius: 50px
        font-size: 24px
      a
        text-decoration: none

        color: black

  #logo
    display: flex
#hero
  height: 550px
  background-color: black
  color: white
  div
    font-size: 64px
  #blackFill
    display: grid
    // grid-gap: 20px
    //grid-template-rows:
    grid-template-columns: repeat(2, 50%)
    //grid-template-columns: 40%
    grid-template-rows: 20% 40%
    //grid-template-rows: 20%
    //grid-template-rows: repeat(2, 20%)
    //grid-template-rows: 1fr 1fr
    #quote
      // grid-row: span
      margin: auto
    #type
      text-align: center
      margin-left: 50px
    img
      //display: inline
      margin: auto
    span
      display: inline
    #quote
      width: 675px
      height: 102px
      font-size: 28px
      text-align: left