@font-face {
  font-family: "Carollo Playscript";
  src: url("./D/carollo-playscript/CarolloPlayscriptRegular.otf"); }
* {
  margin: 0;
  font-family: "Carollo Playscript", sans-serif; }
  *::-webkit-scrollbar {
    display: none; }

header {
  padding: 0 85px;
  height: 160px;
  display: flex;
  align-items: center;
  background-color: black;
  color: white; }
  header nav {
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    width: 100%; }
    header nav #links {
      display: flex;
      align-self: flex-end; }
      header nav #links .link-item {
        text-align: center;
        display: block;
        width: 180px;
        height: 37px;
        background-color: white;
        margin-right: 43px;
        border-radius: 50px;
        font-size: 24px; }
      header nav #links a {
        text-decoration: none;
        color: black; }
  header #logo {
    display: flex; }

#hero {
  height: 550px;
  background-color: black;
  color: white;
  padding-top: 1px;
  margin-top: -1px; }
  #hero #whiteLine {
    width: 1775px;
    height: 4px;
    background-color: white;
    margin: 63px auto; }
  #hero #blackFill {
    display: grid;
    grid-template-rows: 200px 220px;
    grid-template-columns: repeat(2, 50%); }
    #hero #blackFill #quote {
      float: left;
      margin-left: 150px; }
      #hero #blackFill #quote span {
        margin: auto;
        text-align: center; }
    #hero #blackFill #type {
      margin: auto;
      text-align: center;
      font-size: 64px; }
    #hero #blackFill img {
      margin: auto; }
    #hero #blackFill span {
      display: inline; }
    #hero #blackFill #quote {
      width: 675px;
      height: 102px;
      font-size: 28px;
      text-align: left; }
  #hero #blackFill2 {
    background-image: url("./D/Blog-Header.png");
    background-attachment: fixed;
    background-size: cover;
    height: 400px;
    color: white;
    display: flex;
    align-items: center; }
    #hero #blackFill2 #brief {
      width: 35%;
      font-size: 32px;
      text-align: center;
      background-color: dimgrey;
      margin-left: 40px;
      padding: 20px;
      border-radius: 50px; }
  #hero #whiteFill {
    color: black;
    height: 20vh; }
    #hero #whiteFill #modalView {
      width: 50%;
      margin: auto;
      text-align: center; }
      #hero #whiteFill #modalView p {
        padding: 50px;
        font-size: 32px; }
      #hero #whiteFill #modalView button {
        margin: 30px;
        background-color: black;
        color: white;
        border: none;
        padding: 9px 5px;
        border-radius: 24px;
        font-size: 20px;
        width: 30%; }
    #hero #whiteFill #modalWrapper {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: black;
      background-color: rgba(0, 0, 0, 0.4); }
      #hero #whiteFill #modalWrapper #techStackModal {
        display: flex;
        overflow-x: scroll;
        width: 90%;
        margin: 15% auto; }
        #hero #whiteFill #modalWrapper #techStackModal::-webkit-scrollbar {
          display: none; }
        #hero #whiteFill #modalWrapper #techStackModal .tech {
          flex: 0 0 400px;
          height: 180px;
          padding: 20px;
          margin: 10px 50px;
          background-color: white;
          color: black;
          border-radius: 30px;
          display: grid;
          grid-template-columns: repeat(2, auto);
          grid-template-rows: repeat(2, auto); }
          #hero #whiteFill #modalWrapper #techStackModal .tech div {
            grid-column: span 2; }
          #hero #whiteFill #modalWrapper #techStackModal .tech p {
            padding: 20px 0;
            width: 50%;
            font-size: 32px; }
          #hero #whiteFill #modalWrapper #techStackModal .tech span {
            font-style: italic;
            padding: 20px 0;
            width: 100%; }
          #hero #whiteFill #modalWrapper #techStackModal .tech svg {
            float: right;
            grid-row: span 2;
            margin: auto; }
          #hero #whiteFill #modalWrapper #techStackModal .tech #htmlProf {
            margin: 20px 0;
            height: 5px;
            border-radius: 50px;
            background-color: black;
            width: 80%; }
          #hero #whiteFill #modalWrapper #techStackModal .tech #cssProf {
            margin: 20px 0;
            height: 5px;
            border-radius: 50px;
            background-color: black;
            width: 80%; }
          #hero #whiteFill #modalWrapper #techStackModal .tech #jsProf {
            margin: 20px 0;
            height: 5px;
            border-radius: 50px;
            background-color: black;
            width: 60%; }
          #hero #whiteFill #modalWrapper #techStackModal .tech #reactProf {
            margin: 20px 0;
            height: 5px;
            border-radius: 50px;
            background-color: black;
            width: 30%; }
          #hero #whiteFill #modalWrapper #techStackModal .tech #cProf {
            margin: 20px 0;
            height: 5px;
            border-radius: 50px;
            background-color: black;
            width: 70%; }
          #hero #whiteFill #modalWrapper #techStackModal .tech #rubyProf {
            margin: 20px 0;
            height: 5px;
            border-radius: 50px;
            background-color: black;
            width: 80%; }
          #hero #whiteFill #modalWrapper #techStackModal .tech #pythonProf {
            margin: 20px 0;
            height: 5px;
            border-radius: 50px;
            background-color: black;
            width: 95%; }
          #hero #whiteFill #modalWrapper #techStackModal .tech #sqlProf {
            margin: 20px 0;
            height: 5px;
            border-radius: 50px;
            background-color: black;
            width: 95%; }
          #hero #whiteFill #modalWrapper #techStackModal .tech #linuxProf {
            margin: 20px 0;
            height: 5px;
            border-radius: 50px;
            background-color: black;
            width: 90%; }
  #hero .sep {
    width: 98%;
    background-color: dimgrey;
    height: 5px;
    margin: 20px auto;
    border: white solid 5px; }
  #hero h1 {
    text-align: center;
    padding: 40px; }
  #hero #projects {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: auto 50px; }
    #hero #projects a {
      text-decoration: none;
      padding: 20px 10px;
      color: navy;
      margin-bottom: 10px; }
    #hero #projects .projectItem {
      width: 80%;
      height: 100%;
      background-color: white;
      padding: 30px; }
  #hero #aboutMe p {
    padding: 50px;
    text-align: justify;
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 50px; }
  #hero #aboutMe button {
    margin: 20px 40px;
    background-color: black;
    color: white;
    border: none;
    padding: 9px 5px;
    border-radius: 24px;
    font-size: 20px;
    width: 10%; }
  #hero #contact {
    display: flex;
    background-color: white;
    height: 150px;
    width: 1920px;
    justify-content: space-between; }
    #hero #contact #leftHalf {
      display: flex;
      width: 15%;
      align-items: center;
      justify-content: space-around; }
    #hero #contact #middlePart {
      display: flex;
      justify-content: space-around;
      width: 30%; }
      #hero #contact #middlePart #phone {
        display: flex;
        justify-content: center;
        align-items: center; }
      #hero #contact #middlePart #mail {
        display: flex;
        justify-content: center;
        align-items: center; }
    #hero #contact #rightHalf {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20%; }

/*# sourceMappingURL=index.css.map */
